
html, body{height: 100%; font-family: Arial, Helvetica, sans-serif;}
header {padding: 20px; background-color: olive; color: white;}
nav{padding: 5px; background-color:cadetblue; color: white;}
aside{background-color: bisque; width: 38.1%; float: right;text-align: center;}
section{background-color: cadetblue; padding: 5px; width: 61%; float: left; text-align: center;}
footer{background-color: rgb(172, 172, 172); clear: both; text-align: center;}
ul li {display: inline; margin-right: 10px;}
article{background-color: ghostwhite;}


 